body {
    background: #F6F8F8;
    font-family: 'Bubbler One', sans-serif;
}

header {
    min-height: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: orange;
    text-decoration: none;
}

.card {
    background: #FFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    padding: 20px;
    border-radius: 5px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 12px;
}

@media screen and (max-width: 450px) {
    .languages {
        display: block;
    }
}

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.space-list-items {
    margin-bottom: 7px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.popular-rank {
    font-size: 20px;
    margin: 10px;
}

.nav {
    display: flex;
}

.nav li {
    margin-right: 15px;
    align-items: center;
    justify-content: center;
}

.active {
    font-weight: 700;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
}

.button:hover:enabled {
  background: linear-gradient(#1a1a1a,#0a0a0a);
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

/* children displayed horizontally and evenly spaced out */
.row {
    display: flex;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}

.column input {
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.43);
    font-size: 16px;
    width: 80%;
}

.column label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.reset {
  border: none;
  background: transparent;
  color: #d0021b;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}